body{margin:0;padding:0;font-size:10px;}
h1,h2,h3,h4,h5,h6,ol,ul,li,dl,dt,dd,img,p,input{margin:0;padding:0;border:0;list-style:none;color:#fff;}
a{color:#fff;text-decoration:none;}
*{box-sizing:border-box;}
html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
}
.response_width{width:100%;}
.response_height{height:100%;}
.top{
	width: 100%;
	height:44px; 
	padding:0px 20px;
	line-height: 44px;
	background-color: #3a87fd;
	box-shadow: 1px 2px 10px rgba(0,0,0,.04);
}
.left li, .right li{float:left;height:20px; font-size:1.4; margin-left:20px;}
.left{float:left;height:44px;}
.top a:hover{
			
			text-decoration: underline;
}
.right{float:right;height:44px;}
.top-2{
	height:500px;
	background: url(../img/index-bg.jpg) top center no-repeat #f5f5f5;
	position: relative;
}
.center{text-align: center;height:220px;width:40%;position: absolute;left:30%;top:120px;}
.center h2{ color: #fff;font-weight:bold;font-size:2rem;line-height: 26px; left:30px;} 
.center p{line-height:26px;} 
.buttn {    text-align: center;margin: 0 auto;width:80%;position:absolute; top:280px;left:10%;}
.buttn input{
	width:110px;height:44px;
	-webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.25em;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border:1px solid #fff;
    margin-left: 10px;
   
} 
.jian{
	color: #fff;
    background-color: rgba(24,135,247,.55);
    border-color: #fff;
}
.zhu{
	color: #087be8;
    background-color: #fff;
}
a .jian:hover, a .zhu:hover {
    font-size: 1.3rem;	
}
.top-3-center{width:80%;margin:0 auto;}
.top-3-center a{
	margin-top:40px;
	display: block;
    float: left;
    width: 25%;
    text-align: center;
    color:#000;
    overflow: hidden;
} 
.img{
	
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
   
}
.top-3-center h2, .top-3-center p{
    color:#000;
} 
.top-3-center p{
   line-height: 26px;
} 
.mokuai:hover {
     background-color: #fafafa; 
}

.top-3-center span{
    color: #36a6fb;
} 
.foot{
	margin-top: 60px;
    padding-top: 40px;
    background-color: #fafafa;
    border-top: 1px solid #dcdcdc;
    color: #666;
}
.foot-center{
	width:80%;
	margin:0 auto;
	overflow: hidden;
}
.foot-center div{
	float:left;
	width: 25%;
    padding-left: 5%;
    background-color: #fafafa;
}
.foot-center p,.foot-center a{
	color:#999;
}
.foot-center p{
	line-height: 26px;
}
.last{
	line-height: 26px;
	color:#999;
	text-align: center;
	padding:30px 0;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-header{
    width:100%;
    background-color: #36a6fb;
}
.navbar-brand{
    height:20px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f00;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f00;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.icon-bar{
    color:#000;
    background-color: #f00;
}
.nav a{
    color:#fff;
}
.nav a:hover{
    color:#eee;
}
@media (max-width:768px){
    .navbar-brand {
        display: none;
    }
}

.mokuai a{
     color:#fff;
     text-decoration: none;
}
.nav2{
    width:100%;
    text-align: center;
}
.nav2 h2{
    text-align: center;
}
@media (min-width:1200px){
    .container{width:1200px; }

}

@media (max-width:768px) and (orientation : portrait){
    .container{width:100%; }
    .top-3-center a{width:49%;  float:left; margin-right:2%; }
    .top-3-center a:nth-child(even){margin-right:0px;}
    .foot-center div{width:49%;  float:left; margin-right:2%; }
    .foot-center div:nth-child(even){margin-right:0px;}

    
}

@media (max-width:768px) and (orientation : landscape){
   .top-3-center a{width:32%;  float:left; margin-right:2%; }
   .top-3-center a:nth-child(3){margin-right:0px;}
   .top-3-center a:nth-child(4){display:none;}
    .foot-center div{width:32%;  float:left; margin-right:2%; }
    .foot-center div:nth-child(3){margin-right:0px;}
}

@media (max-width:480px){
    .top-3-center a{width:100%; float:none;}
    .foot-center div{width:32%;  float:left; margin-right:2%; }
    .foot-center div:nth-child(4){float:none;width:40%;margin: 0 auto;}
}   
.txt{
    width:100%;
    text-align: center;
    margin-top: 20px;
}
.txt h2{
    color: #00a1fa;
    margin-bottom: 10px;
}
.bigg{
    width:80%;
    height:400px;
    margin:0 auto;
    background-color: #f00;
}
.swiper-wrapper{margin:0 auto;position: relative;}
.swiper-container {
    overflow: :hidden;
    position: relative;
    width: 70%;
    height: auto;
    background-color: #fafafa;
    box-shadow: -1 0 16px rgba(59,59,59,.1);
    -webkit-box-shadow: 0 0 16px rgba(
    top:10px;59,59,59,.1); 
}
.swiper-container2 {
    background-color: #fafafa;
    box-shadow: -1 0 16px rgba(59,59,59,.1);
    width:70%;margin: 0 auto;overflow: hidden;}

.swiper-slide {
        text-align: center;
        font-size: 18px;
        padding-top: 26px;
    }
.swiper-slide {
        text-align: center;
        font-size: 18px;
        padding-top: 26px;
}
.swiper-wrapper img{
        width:50%;
 } 
.tup{text-align: center;overflow: hidden;}
.tup h4{display: inline-block;}
.tuoz{width:20%;}
.tup img{width:22%;}
.jianq{
    text-align: left;
    line-height: 1.5;
    font-size:1.2rem;
}
.list{width:100%;background-color:#fefefe;margin-top:20px;}
.list-center{margin:0 auto;width:80%;height:auto;text-align: center;}
.weu li{width:18%;  float:left; margin-right:1.333333%; transition:all 0.5s; -webkit-transition:all 0.5s; font-size:48px; color:white; line-height:200px; text-align:center; }
.weu li img{width: 100%;}
@media (min-width:1200px){
    .container{width:1200px; }
}

@media (max-width:768px) and (orientation : portrait){
    .container{width:100%; }
    .weu li{width:49%; height:200px;  float:left; margin-right:2%; margin-top: 10px; }
    .weu li:nth-child(even){margin-right:0px;}
    
}
@media (max-width:768px) and (orientation : landscape){
    .weu li{width:30%; height:200px;  float:left; margin-right:2%; margin-top: 10px; }
    .weu li:nth-child(3){margin-right:0px;}
    .kuanpingsee{display:none;}
}

@media (max-width:480px){
    .weu li{width:100%; float:none;}
}
/*.roll { width:100%; height: auto; margin: 50px auto 0; position: relative; }
.btn_left { display: block; width: 68px; height: 68px; background: url(../img/btn.jpg) no-repeat -70px -69px; position: absolute; top: 20px; left: 1px; z-index: 1; }
.btn_left:hover { background: url(../img/btn.jpg) no-repeat -70px 0; }
.btn_right { display: block; width: 68px; height: 68px; background: url(../img/btn.jpg) no-repeat 1px -69px; position: absolute; top: 20px; right: 0; z-index: 1; }
.btn_right:hover { background: url(../img/btn.jpg) no-repeat 1px 0; }
.roll .wrap { width: 100%; height: auto; margin: 0 auto; position: relative; overflow: hidden; }
.roll ul { position: absolute; top: 0; left: 0; }
.roll li { float: left; width: 182px; height: 108px; text-align: center; }
.roll li img{width:100%;}
.roll li a:hover { position: relative; top: 2px; }
.control { border-bottom: 1px solid #ccc; background: #eee; text-align: center; padding: 20px 0; }
*/.luob{width:100%;height:auto;}
.luno-center{width:80%;margin:0 auto;height:auto;}
.roll { width:100%; height: auto; margin: 50px auto 0; position: relative; }
.btn_left { display: block; width: 68px; height: 68px; background: url(../img/prev_grey.png) no-repeat; position: absolute; top: 30%; left: -10%; z-index: 1; }
.btn_left:hover { background: url(../img/prev_blue.png) no-repeat; }
.btn_right { display: block; width: 68px; height: 68px; background: url(../img/next_grey.png) no-repeat; position: absolute; top: 30%; right:-10%; z-index: 1; }
.btn_right:hover { background: url(../img/next_blue.png) no-repeat; }
.roll .wrap { width: 100%; height: 400px; margin: 0 auto; position: relative; overflow: hidden; }
.roll ul { position: absolute; top: 0; left: 0; }
.roll li { margin-left:3%;float: left; width: 182px; height: 400px; text-align: center; }
.roll li a:hover { position: relative; top: 2px; }
.control { border-bottom: 1px solid #ccc; background: #eee; text-align: center; padding: 20px 0; }
.luob{width:100%;}
.lunb{width:80%;margin:0 auto;}
.roll li img{width:100%;}